# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Datasets
datasets/

# Training outputs
checkpoints/
logs/
outputs/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment variables
.env

# OS files
Thumbs.db
Desktop.ini